<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:oauth2="http://www.springframework.org/schema/security/oauth2"
	xsi:schemaLocation="http://www.springframework.org/schema/security/oauth2 http://www.springframework.org/schema/security/spring-security-oauth2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<oauth2:authorization-server client-details-service-ref="clientDetailsService" token-services-ref="tokenServices" >
		<oauth2:refresh-token />
		<oauth2:password authentication-manager-ref="authenticationManager" />
	</oauth2:authorization-server>

	<oauth2:resource-server id="resourceFilter" token-services-ref="tokenServices" resource-id="com.javatigers.cp" />

</beans>
